<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--数据库配置-->
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=MYDB;Integrated Security=True" />
    <!--访问凭证-->
    <add key="AppId" value="********" />
    <add key="AppKey" value="********" />
    <add key="MasterSecret" value="********" />
    <!--消息模版类型，1：NotificationTemplate  2：TransmissionTemplate-->
    <!--使用厂商推送下发推送消息必须设置intent，并且intent须符合格式，否则用户点击推送消息会导致无法启动APP-->
    <add key="TemplateType" value="2" />
    <!--客户端APP包名-->
    <add key="PackageName" value="********" />
    <!--推送log地址-->
    <add key="LogPath" value="D:\\getui.log" />
    <!--IOS系统的DeviceToken-->
    <add key="DeviceToken" value="" />
    <!--http的域名-->
    <add key="Host" value= "http://sdk.open.api.igexin.com/apiex.htm"/>
    <!--https的域名-->
    <!-- <add key="Host" value= "https://api.getui.com/apiex.htm"/> -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>